<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>About Me</h2>
    <p>I am a Mexican Computer Systems Engineer who has worked on multiple web projects for companies, schools and personal ones. Some of these are:</p>
    <ul>
        <li>Job Bank for a university's students</li>
        <li>Newsletters page</li>
        <li>Seat reservation system</li>
        <li>QR event assistance system</li>
    </ul>
    <p>My favorite programming languages are:</p>
    <ul>
        <li>Javascript</li>
        <li>PHP</li>
        <li>C#</li>
    </ul>
    <p>With knowledge on:</p>
    <ul>
        <li>Python</li>
        <li>C++</li>
        <li>Java</li>
    </ul>
    <p>Technologies I've used:</p>
    <ul>
        <li>SQL server</li>
        <li>mySQL</li>
        <li>mongoDB</li>
        <li>Angular with Certification</li>
        <li>React with Certification</li>
        <li>Node.js with Certification</li>
        <li>jQuery</li>
        <li>Ajax</li>
    </ul>
    <p>My mission is to become a better developer overtime and be able to make a living with my career.</p>
</article>