
<header>
  <ul>
    <li><a [routerLink]="['/home']" [routerLinkActive]="['actived']">Home</a></li>
    <li><a [routerLink]="['/create']" [routerLinkActive]="['actived']">Create</a></li>
    <li id="logo"><a href="#">OA</a></li>
    <li><a [routerLink]="['/login']" [routerLinkActive]="['actived']">Login</a></li>
    <li><a [routerLink]="['/signup']" [routerLinkActive]="['actived']">Sign up</a></li>
  </ul>
</header>
  
  
  <section id="content">
  <router-outlet> </router-outlet> <!--Necesario para que las rutas funcionen-->
  
  </section>
  
  
  <footer>
    Ing. José Omar Almaraz Rodríguez
  </footer>
  